.training {
    text-align: center;
    padding: 1rem 2rem;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 79, 1) 39%, rgba(0, 212, 255, 1) 100%); */
    color: rgba(235, 221, 221, 0.943);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.training_list {
    background-color: rgba(71, 61, 139, 0.158);
}

.training_list:hover {
    color: bisque;
}

.training h2 {
    text-align: center;
    color: rgb(192, 201, 209);
    text-transform: uppercase;
}

.train_data a button {
    margin-left: 1rem;
}