.bg {
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    /* background-color: black; */
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 79, 1) 39%, rgba(0, 212, 255, 1) 100%);
}

.bg_nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    flex-wrap: wrap;
}

.bg_nav span {
    font-size: 1rem;
    color: beige;
    font-weight: 500;
    padding: .5rem;
    border: 1px solid wheat;
    margin: .25rem;
    text-align: center;
    width: 6rem;

}

.bg_nav span:hover {
    cursor: pointer;
    color: bisque;
    font-weight: 700;
    border-radius: .5rem;
    box-shadow: rgba(203, 7, 247, 0.469) 0px 5px 15px;
    background-color: rgba(145, 11, 202, 0.565);
}

.bg_img img {
    animation: img_rot 10s linear infinite;
    border-radius: 50%;
    box-shadow: rgba(169, 23, 182, 0.916)0px 0px 100px 20px;
}

.bg_img img:hover {
    animation: none;
}

@keyframes img_rot {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.bg_text {
    /* position: relative; */
    /* top: 20vh; */
    color: rgb(255, 255, 255);
    padding: 1rem 0rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20vh;

}

.bg_text h1 {
    padding-top: 1.4rem;
    font-size: 3rem;
    letter-spacing: 4px;
}

.bg_text h3 {
    color: rgba(220, 187, 139, 0.883);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-style: double;
}


.bg_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bg_icon img {
    width: 3rem;
}


@media screen and (max-width:789px) {
    .bg_text h1 {
        font-size: 2rem;
    }

    .bg_text h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width:558px) {
    .bg_text h1 {
        font-size: 1.5rem;
    }

    .bg_text h3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:442px) {
    .bg_text h1 {
        font-size: 1rem;
    }

    .bg_text h3 {
        font-size: 0.5rem;
    }
}