.edu_train {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 79, 1) 39%, rgba(0, 212, 255, 1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

@media screen and (max-width:1000px) {
    .edu_train {
        grid-template-columns: 1fr;
    }
}

.loading {
    text-align: center;
    margin-top: 50vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.loading span {
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: rgb(184, 112, 23);
    animation: main_anim 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite alternate-reverse;
}


@keyframes main_anim {
    from {
        letter-spacing: .5rem;
        color: rgba(184, 112, 23, 0.47);
    }

    to {
        color: rgb(184, 112, 23);
        letter-spacing: .8rem;
    }
}